<div class="groups-container">
    <div class="groups-container-top">
        <h3>¿En donde se difundian las ideas?</h3>
    </div>
    <div class="groups-container-center">
        <div class="societies">
            <h4>Sociedades y Academias</h4>
            <img src="https://culturacientifica.com/app/uploads/2014/08/Fundacion-de-la-Real-Academia-de-Ciencias-de-Paris-1666.jpg" alt="">
            <p>Eran instituciones donde se debatían temas científicos, literarios o artísticos.</p>
        </div>
        <div class="tertulies">
            <h4>Tertulias</h4>
            <img src="https://repositorioimagen-download.educ.ar/repositorio/Imagen/ver?image_id=c0a620df-136f-11e1-8131-ed15e3c494af" alt="">
            <p>Eran reuniones de ilustrados que trataban diversos temas.</p>
        </div>
        <div class="logias">
            <h4>Logias masonicas</h4>
            <img src="https://www.nuevatribuna.es/asset/thumbnail,992,558,center,center/media/nuevatribuna/images/2023/08/10/2023081019223378824.jpg" alt="">
            <p>Estaban formadas por personas que buscaban fomentar el desarrollo intelectual  y moral del ser humano.</p>
        </div>
    </div>
</div>
