<div class="exponents-container">
    <div class="exponents-container-top">
        <h3>¿Quienes fueron los principales exponentes?</h3>
    </div>
    <div class="exponents-container-center">
        <div class="montesquieu">
            <h4>Louis Montesquieu (1689-1755)</h4>
            <div class="montesquieu-body">
                <ul>
                    <li>Filósofo francés, su  principal aporte a la teoría política radico en la propuesta dividir el poder del estado en 3 partes.</li>
                    <li>Buscó el conocimiento concreto, empírico, relativista y escéptico.</li>
                    <li>Principal obra:  El espíritu de las leyes. Desarrolló el principio de separación de poderes: legislativo (dicta leyes), ejecutivo (aplica leyes) y judicial (controla el cumplimiento de las leyes).</li>
                </ul>
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRGM3vV7u6MPGst6yNnBJauGtO4ADzDI2mdDAIGvPuonLcL2CxL" alt="">
            </div>
        </div>
        <div class="rousseau">
            <h4>Jean Rousseau (1712-1778)</h4>
            <div class="rousseau-body">
                <ul>
                    <li>Escritor ilustrado francés, se enfocó en escribir sobre la tolerancia y el libre pensamiento. Fue un fuerte detractor de la imposición religiosa</li>
                    <li>Formuló la teoría de la democracia: la soberanía reside en el pueblo</li>
                    <li>Principal obra: El contrato social. Sostuvo que la sociedad se establece por un contrato social</li>
                    <li>El gobierno surge de este contrato cuando los hombres libres e iguales delegan la soberanía</li>
                    <li>Sostenía que el hombre nace bueno y que es la propiedad privada la que lo deshumaniza</li>
                </ul>
                <img src="https://historia.nationalgeographic.com.es/medio/2021/02/16/rousseau_b990d0e7_550x689.jpg" alt="">
            </div>
        </div>
        <div class="voltaire">
            <h4>Voltaire (1694-1778)</h4>
            <div class="voltaire-body">
                <ul>
                    <li>Escritor y pensador ilustrado suizo. Su gran aporte se encuentra en su obra "el contrato social". En el cual plantea la necesidad de que exista un acuerdo entre las personas, para así garantizar seguridades a las personas</li>
                    <li>Promovió la libertad religiosa y económica</li>
                    <li>Criticó el autoritarismo</li>
                    <li>Principal obra: Cartas filosóficas sobre los ingleses</li>
                    <li>Propuso un régimen parlamentario que limitara el poder real</li>
                    <li>Abogó por el deísmo como una nueva religión diferente y opuesta a las reveladas</li>
                </ul>
                <img src="https://static.wixstatic.com/media/72f831_984673e8bb8c434e91dc976f24a9e2b8.png/v1/fill/w_560,h_678,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/72f831_984673e8bb8c434e91dc976f24a9e2b8.png" alt="">
            </div>
        </div>
    </div>
</div>
