<div class="body">
    <div class="width-80">
        <nav>
          <div class="nav-title">
            <div class="nav-title-a">
              <a href="#">El siglo de las luces e ilustracion</a>
            </div>
          </div>
          <ul>
            <li routerLink="/definition">Definicion</li>
            <li routerLink="/ideas">Ideas Fundamentales</li>
            <li routerLink="/groups">Grupos de Difusion</li>
            <li routerLink="/exponents">Exponentes</li>
            <li routerLink="/politics">Politica</li>
            <li routerLink="/literature">Literatura</li>
            <li routerLink="/art">Arte y Obras</li>
            <li routerLink="/economy">Economia</li>
            <li routerLink="/neoclasism">Neoclasismo</li>
          </ul>
        </nav>
      </div>
</div>
