@font-face {
    font-family: 'Latherrich';
    src: url(/src/assets/fonts/Latherrich-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Latherrich';
    src: url(/src/assets/fonts/Latherrich-Bold.woff2);
    font-weight: bold;
}
.body {
    background-color: #E4E4E4;
}
.width-80 {
    width: 80%;
    margin: auto;
}
nav {
    margin-top: 3em;
}
.nav-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-title-a {
    background-color: #B20D15;
    width: 40%;
    border-radius: 3em;
    padding: 1em;
}
.nav-title  a {
    font-family: 'Latherrich';
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul {
    margin-top: 3em;
    background-color: #B20D15;
    list-style: none;
    color: white;
    font-family: 'Latherrich';
    font-size: 1.1em;
    display: flex;
    align-items: center;
    border-radius: 3em;
}

nav ul li {
    margin: 0.5em 0em;
    padding: 1em 1em;
    cursor: pointer;
    border-radius: 3em;
}

nav ul li:hover {
    background-color: #88040b;
    transition-duration: 1s;
}
footer {
    background-color: #46464E;
    width: 100%;
    margin-top: auto;
    color: white;
    font-family: 'Latherrich';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2em;
}
.group-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
}
.group-members h4 {
   font-size: 1.5em;
}

footer .group-members div {
    display: flex;
    flex-direction: column;
}

footer .group-members div span {
    margin-bottom: 1.5em;
    cursor: pointer;
    width: 10em;
}

footer .group-members div span:hover {
    color: gold;
    transition: 1s;
}
.professor{
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 2em;
}
.professor h4 {
    font-size: 1.5em;
}

footer .professor span {
    cursor: pointer;
    width: 10em;
}

footer .professor span:hover {
    color: gold;
    transition: 1s;
}

.credits {
    margin: 1em 0em;
}