<div class="definition-container">
    <div class="definition-container-top">
        <h3>¿Qué es la ilustración? </h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Salon_de_Madame_Geoffrin.jpg" alt="">
        <p>La Ilustración fue un movimiento político, intelectual, filosófico y cultural que surgió en Europa durante el siglo XVIII, influenciado por las ideas humanistas del siglo anterior. Las ideas de la Ilustración tuvieron un impacto significativo en las revoluciones que ocurrieron durante la segunda mitad del siglo XVIII y principios del XIX.</p>
    </div>
    <div class="definition-container-bottom">
        <div class="definition-container-bottom-left">
            <p>"La Ilustración es la salida del hombre de su autoculpable minoría de edad. La minoria de edad significa la incapacidad de servirse de su propio entendimiento sin la guia de otro. Uno mismo es culpable de esta minoria de edad cuando la causa de ella no reside en la carencia de entendimiento, sino en la falta de decision y valor para servirse por si mismo de el sin la gula de otro"
            </p>
            <span>-Inmanuel Kant</span>
        </div>
        <div class="definition-container-bottom-right">
            <img src="https://i.pinimg.com/originals/39/6a/77/396a773f98d106bc250282a6d3710d58.jpg" alt="">
        </div>
    </div>
</div>
