<div class="literature-container">
    <div class="literature-container-top">
        <div class="literature-container-top-title">
            <h3>¿Como era la literatura de esa epoca?</h3>
        </div>
        <div class="literature-container-top-body">
            <div class="autonomy">
                <h4>Autonomia y espiritu critico</h4>
                <p>El ser humano es dueño de su propio destino. Es preciso someter a crítica todos los valores y conocimientos heredados.</p>
            </div>
            <img src="https://content.gnoss.ws/imagenes/Documentos/imgsem/9d/9db8/9db88e1c-0596-4d50-b2dc-af071ca89da0/50482ba5-72aa-b124-0431-3edb42b38806.jpg" alt="">
            <div class="optimism">
                <p>Mirada optimista sobre la condición humana y la historia.Confían en el progreso moral y material del ser humano.Educación: medio para conseguir una sociedad más justa y próspera.
                </p>
                <h4>Optimismo</h4>
            </div>
        </div>
    </div>
    <div class="literature-container-center">
        <div class="literature-container-center-title">
            <h4>Corrientes esteticas del siglo XVIII</h4>
        </div>
        <div class="literature-container-center-body">
            <div class="neoclasism">
                <h4>Neoclasicismo</h4>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/David-Oath_of_the_Horatii-1784.jpg/640px-David-Oath_of_the_Horatii-1784.jpg" alt="">
            </div>
            <div class="rococo">
                <h4>Rococó</h4>
                <p>Se trata de un estilo galante, refinado y superficial.Se manifiesta en las comedias del francés Marivaux o en la poesía anacreóntica del español Meléndez Valdés (que celebra el amor, la belleza, el placer y el vino en un entorno bucólico).</p>
            </div>
            <div class="prerromanticismo">
                <h4>Prerromanticismo</h4>
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Fran%C3%A7ois_Pascal_Simon_G%C3%A9rard_001.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="literature-container-bottom">
        <div class="rationalism">
            <h4>Racionalismo</h4>
            <p>La razón, la observación y la experimentación son las únicas fuentes fiables de conocimiento.
                urgen nuevas formas de religiosidad: Ateísmo o negación de la divinidad. (Barón D'Holbach y Denis Diderot).Deísmo.</p>
        </div>
        <div class="reformism">
            <h4>Reformismo y despotismo ilustrado</h4>
            <p>El despotismo ilustrado sintetizado en la máxima todo para el pueblo, pero sin el pueblo, fue la forma de gobierno característica en la Europa ilustrada.
                Los ilustrados eran reformistas: no preconizaban la rebelión contra la autoridad, sino que esta fuera ejercida de forma racional.</p>
        </div>
    </div>
</div>
